/* Stylesheet Notes

Color Reference:				Dark Versions:
#9FFFCB Magic Mint
#25A18E Jungle Green 			#18675B Dark Spring Green
#00A5CF Rich Electric Blue
#C490D1 Light Gray Magenta
#FF3366 Radical Red 			#74182F Claret
#011627 Maastricht Blue

*/

/* ------------------------------------------------------------
   Typography & links
-------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

p, a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

p {
	margin-bottom: 10px;
}

h1 {
	/*color: #25A18E;*/ /* er det okay at fjerne denne helt? */
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4, .eventholder h3, .eventlist h3, #shortdesc {
	font-size: 26px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 18px;
}

section>h2, section>h3, section>h4, section>p {
	text-align: center;
	margin: 30px 0px 30px;
}

/* ------------------------------------------------------------
   Links
-------------------------------------------------------------*/

p a {
	text-decoration: none;
	color: #25A18E;
}

p a:hover {
	color: #18675B;
}

/* ------------------------------------------------------------
   Buttons
-------------------------------------------------------------*/

button {
	background-color: #25A18E;
    border: none;
    color: #fff;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
	border-radius: 5px;
	border: 2px solid #25A18E;
}

button:hover {
	background-color: #fff;
    color: #25A18E;
}

.red_button {
	background-color: #FF3366;
	border: 2px solid #FF3366;
}

.red_button:hover {
	background-color: #fff;
    color: #FF3366;
}

.blue_button {
	background-color: #00A5CF;
	border: 2px solid #00A5CF;
}

.blue_button:hover {
	background-color: #fff;
    color: #00A5CF;
}

.going_button {
	background-color: #74182F;
	border: 2px solid #74182F;
	color: #FF3366;
}

.going_button:hover {
	background-color: #FF3366;
	border: 2px solid #FF3366;
    color: #74182F;
}

.fav_button {
	background-color: #18675B;
	border: 2px solid #18675B;
    color: #25A18E;
}

.fav_button:hover {
	background-color: #25A18E;
	border: 2px solid #25A18E;
	color: #18675B;
}

.buttonholder {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-width: 100%;
	margin-bottom: 7px;
}

.buttonholder>a {
	flex-grow: 1;
	margin-right: 20px;
	width: 45%;
}

.buttonholder>a:last-child {
	margin-right: 0px;
}

.buttonholder button {
	margin: 4px 0px;
	width: 100%;
}

/* ------------------------------------------------------------
   Forms
-------------------------------------------------------------*/

.standard_input {
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 6px 12px;
	width: 230px;
	outline-color: #9FFFCB;
	margin: 4px 2px;
}

.select_form {
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 4px 10px;
	outline-color: #9FFFCB;
}

/*Checkbox style*/
.checkbox {
  display: inline-flex;
  position: relative;
  padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide browser's default*/
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc; /*Grey on hover*/
}

.checkbox input:checked ~ .checkmark {
  background-color: #25a18e; /*Jungle Green background*/
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none; /*Hide checkmark when not checked*/
}

.checkbox input:checked ~ .checkmark:after {
  display: block; /* Show checkmark when checked */
}

/*Checkmark*/
.checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Toggle switch style*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {display:none;}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
	border-radius: 34px;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
	border-radius: 50%;
}

.switch input:checked + .toggle {
  background-color: #25a18e;
}

.switch input:checked + .toggle:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* ------------------------------------------------------------
   Overall layout
-------------------------------------------------------------*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0 auto;
	max-width: 100%;
}

main {
	max-width: 100%;
	margin: 0 auto;
}

section {
	max-width: 100%;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 40px;
	margin: 20px auto 0px;
}

main section>p, #hero p {
	max-width: 650px;
	margin: 0 auto 10px;
}

/* ------------------------------------------------------------
   Navigation
-------------------------------------------------------------*/

nav {
	background-color: #fff;
	width: 100%;

}

nav ul {
	float: right;
	margin-right: 80px;
	margin-top: 30px;
}

nav li {
	padding-right: 20px;
}

nav a {
	text-decoration: none;
	color: #424242;
}

nav a:hover {
	color: #25a18e;
}

header {
	height: 75px;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .1);
	position: fixed;
	z-index: 1000;
	width: 100%;
	background-color: #fff;
	top: 0;
}

header li {
	display: inline-flex;
	list-style-type: none;
}

.vertical_line {
	border-left: 1px solid #d2d2d2;
	height: 20px;
	display: inline-flex;
	padding-right: 20px;
	top: 5px;
}

#logo {
	margin: 10px 0px 10px 80px;
	width: 55px;
}

#title {
	margin-top: 30px;
	margin-left: 12px;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	width: 375px;
	text-decoration: none;
	color: #555555;
}

#fb_icon {
	padding-right: 20px;
}

#login_icon {
	padding-right: 20px;
}

/*Dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-links {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 210px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
		right: 0;
}

.dropdown-links a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-links {
    display: block;
}

/*CSS Modal box for "Mine arrangementer"*/

/*Background and animation*/
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:rgba(0, 0, 0, 0.3);
	z-index: 3;
	opacity: 0;
	-webkit-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
	pointer-events: none;
}

/*Modal visible*/
.modal:target {
	opacity:1;
	pointer-events: auto;
}

.modal div {
	max-width: 450px;
	position: relative;
	margin: 90px auto;
	padding: 10px 20px;;
	background: #fefdfc;
	max-height: 450px;
	overflow-y: auto;
	border-radius: 4px;
}

.modal h5 {
	padding-top: 15px;
}

/*Close button*/
.close {
	color: #424242;
  font-size: 40px;
	font-weight: bold;
	float: right;
	text-decoration: none;
}

.close:hover { color: #ff3366; }

/* ------------------------------------------------------------
   Hero
-------------------------------------------------------------*/

#hero {
	background: url(img/vroegum-kulturhus-gamle-skole_01.jpg) center center;
	background-size: cover;
	height: 470px;
	margin-top: 75px;
	text-align: center;
	padding: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#hero * {
	z-index: 30;
}

#hero h1, #hero p {
	color: #fff;
}

#hero p {
	font-size: 22px;
}

#arrangementer #hero {
	background: url(img/vroegum-loebet_01.jpg) center center;
	background-size: cover;
}

#hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(37,161,142, 0.65); /* Jungle Green */
  z-index: 10;
}

/*  Kopierne herunder er bare en test af at bruge de forskellige brand farver til overlay/tint på hero img */

#warrangementer #hero:before {
  background: rgba(59,255,205, 0.65); /* Magic Mint */
}

#warrangementer #hero:before {
  background: rgba(196,144,209, 0.65); /* Light Gray Magenta */
}

#warrangementer #hero:before {
  background: rgba(255,51,102, 0.65); /* Radical Red */
}

/* ------------------------------------------------------------
   Index Hero Animation
-------------------------------------------------------------*/

#index #hero {
	position: relative;
}

#fade1, #fade2, #fade3, #fade4 {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 2;}
	/*animation-name: crossfade;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

#fade2 {
	animation-delay: 5s;
	-webkit-animation-delay: 5s;
}

#fade3 {
	animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

#fade4 {
	animation-delay: 15s;
	-webkit-animation-delay: 15s;
}

@-webkit-keyframes crossfade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
	100% {
		opacity: 1;
		animation-delay: 15s;
		-webkit-animation-delay: 15s;
	}
}

@keyframes crossfade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
    	opacity: 1;
    	animation-delay: 15s;
		-webkit-animation-delay: 15s;
    }
}*/

/* ------------------------------------------------------------
   Arrangementer
-------------------------------------------------------------*/

#arrangementer {
	background-color: #fff;
	min-height: 540px;
	color: #1e1e1e;
}

#arrangementer h2 {
	margin: 0px;
}

.center_button {
	text-align: center;
	padding-bottom: 30px;
}

.eventholder {
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 100%;
}

.eventholder>div {
	flex-basis: 27%;
	border-radius: 4px;
	position: relative;
	margin: 40px 40px 60px 0px;
	flex-grow: 1;
}

/*.eventholder>div:nth-child(3n+0), .eventholder>div:last-child {
	margin-right: 0px;
}*/

.eventholder>div img {
	width: 100%;
	height: 225px;
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 4px;
}

.eventdate {
	position: absolute;
	background: rgba(0,165,207, 0.75);
	top: 145px;
	height: 80px;
	width: 100%;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #fff;
	padding: 15px;
	text-align: center;
	-webkit-transition: .3s;
	transition: .3s;
}

.eventholder>div:hover .eventdate {
	background: rgba(37,161,142, 0.75);
}

.eventholder .eventcat, #eventcat {
	color: #aaa;
	margin-top: 5px;
}

/*Checkboxes centered*/
#sortbycategory {
	text-align: center;
}

#modalbox ul {
	list-style-type: none;
	margin: 12px 0px;
}

#modalbox li {
	width: 88%;
	display: block;
	min-height: 40px;
	margin-bottom: 15px;
}

#modalbox li a {
	width: 100%;
	background: #ccc;
	display: block;
	padding: 6px 12px;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 4px;
	border: 2px solid #25A18E;
	color: #25A18E;
	background: #fff;
	font-weight: 400;
	font-size: 16px;
}

#modalbox li a:hover {
	background: #25A18E;
	color: #fff;
}

#goingholder>a, #favholder>a {
	float: right;
	display: block;
	padding: 6px 12px;
	color: #25A18E;
	text-decoration: none;
	border-radius: 4px;
	border: 2px solid #25A18E;
	position: relative;
	top: -55px;
}

#goingholder>a:hover, #favholder>a:hover {
	float: right;
	color: #fff;
	background: #25A18E;
}


/* ------------------------------------------------------------
   Vis arrangement Page
-------------------------------------------------------------*/

#shortdesc, #longdesc, #eventcat, #infobox, #infobox table {
	margin-bottom: 20px;
}

#eventphoto {
	border-radius: 4px;
	margin-bottom: 20px;
	min-height: 250px;
}

#infobox {
	border-radius: 4px;
	background: #00A5CF;
	color: #fff;
	padding: 40px;
}

#infobox table {

}

#infobox td {
	vertical-align: top;
}

#infobox td:first-child {
	font-weight: 700;
	padding-right: 20px;
	padding-bottom: 5px;
	min-width: 100px;
}

#infobox p {
	font-size: 18px;
}

/* ------------------------------------------------------------
   Medlemsskab/Nyhedsbrev
-------------------------------------------------------------*/

#medlemsskab_nyhedsbrev {
	background-color: #25a18e;
	min-height: 540px;
}

#medlemsskab {
	width: 580px;
	min-height: 450px;
	background-color: #fff;
	margin-top: 40px;
	color: #1e1e1e;
	text-align: justify;
	padding: 40px;
	border-radius: 4px;
}

#nyhedsbrev {
	width: 580px;
	min-height: 450px;
	color: #fff;
	text-align: center;
}

#nyhedsbrev p {
	text-align: justify;
}

#medlemsskab_nyhedsbrev h2 {
	text-align: center;
}

#medlemsskab p {
	padding: 20px;
}

/*Header not hiding under content when using link*/
h2#medlemsskablink {
	  margin-top: -75px;
	  padding-top: 75px;
}

/* ------------------------------------------------------------
  Om Vrøegum
-------------------------------------------------------------*/
#omhero {
	background: url(img/vroegum-kulturhus-gamle-skole_01.jpg) center center;
	background-size: cover;
	height: 150px;
	margin-top: 75px;
	text-align: center;
	padding: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#omhero * {
	z-index: 2;
}

#omhero h1, #omhero p {
	color: #fff;
}

#omhero p {
	font-size: 22px;
}

#omhero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(37,161,142, 0.65);
}

#omvroegum {
	background-color: #fff;
	min-height: 550px;
	color: #1e1e1e;
}

#vroegum {
	margin-top: 30px;
	text-align: center;
}


.container {
  position: relative;
  width: 100%;
	padding: 20px;
}



#stjerner {
	min-height: 300px;
	color: #1e1e1e;
}

#friluftsscene {
	background: url(img/kulturhus-01.png) center center;
	background-size: cover;
	min-height: 300px;
	color: #1e1e1e;
	text-align: center;
	padding: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#friluftsscene * {
	z-index: 2;
}

#friluftsscene h3, #friluftsscene p {
	color: #fff;
}

#friluftsscene p {
	font-size: 22px;
}

#friluftsscene:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(5,10,271, 0.65);
}

/* ------------------------------------------------------------
   Footer
-------------------------------------------------------------*/

footer {
	background-color: #9fffcb;
	min-height: 320px;
	padding: 40px 80px;
}

#kontakt {
	float: left;
	padding-right: 80px;
}

#os {
	float: left;
}

.person {
	text-align: center;
	display: inline-flex;
	padding-right: 20px;
}

/* ------------------------------------------------------------
   Flexboxes
-------------------------------------------------------------*/

.flex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-width: 100%;
}

.flex>div {
	margin: 40px 40px 60px 0px;
	flex-grow: 1;
	flex-basis: 20%;
}

.flex>div:last-child {
	margin-right: 0px;
}

footer.flex>div {
	min-height: 250px;
	padding: 0px;
}

.flex img {
	max-width: 100%;
	object-fit: cover;
}

/* ------------------------------------------------------------
   Styleguide Specific
-------------------------------------------------------------*/

#styleguide main section {
	max-width: 100%;
	width: 1366px;
	padding: 40px 80px;
	min-height: 450px;
}

/*#styleguide section:nth-child(2n+0) {
	background: rgba(0,165,207, 0.10);
}*/

.code {
	border-radius: 4px;
	border: 1px solid #00A5CF;
	background: #fff;
	padding: 40px 10px 10px 10px;
	margin: 20px 0px 20px;
	color: #555;
	position: relative;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	max-height: 200px;
	overflow-y: auto;
}

.code:before, .css:before {
	content: "HTML";
	position: absolute;
	top: 10px;
	color: #00A5CF;
	font-family: 'Source Sans Pro', sans-serif;
}

.css {
	border: 1px solid #C490D1;
}

.css:before {
	content: "CSS";
	color: #C490D1;
}

.no-min-height {
	min-height: auto !important;
}

/* ------------------------------------------------------------
   Responsive / Small screen
-------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
	.flex, .eventholder {
		flex-wrap: wrap;
		margin-bottom: 0px;
		margin-top: 40px;
	}

	.flex>div, .flex>div:last-child, .eventholder>div, .eventholder>div:nth-child(3n+0) {
		margin: 0px 0px 60px 0px;
		min-width: 100%;
	}

	#title {
		display: none;
	}
}
