/* Stylesheet Notes

Color Reference:
#9FFFCB Magic Mint
#25A18E Jungle Green
#00A5CF Rich Electric Blue
#C490D1 Light Gray Magenta
#FF3366 Radical Red
#011627 Maastricht Blue

*/

/* ------------------------------------------------------------
   Typography & links
-------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

p, a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

p {
	margin-bottom: 10px;
}

h1 {
	/*color: #25A18E;*/ /* er det okay at fjerne denne helt? */
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 28px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 18px;
}

section>h2, section>h3, section>h4, section>p {
	text-align: center;
	margin: 30px 0px 30px;
}

/* ------------------------------------------------------------
   Links
-------------------------------------------------------------*/

p a {
	text-decoration: none;
	color: #FF3366;
}

p a:hover {
	color: #00A5CF;
}

/* ------------------------------------------------------------
   Buttons
-------------------------------------------------------------*/

.red_button {
		background-color: #FF3366;
    border: none;
    color: #fff;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
		border-radius: 5px;
		border: 2px solid #FF3366;
}

.red_button:hover {
		background-color: #fff;
    color: #FF3366;
}

.blue_button {
		background-color: #00A5CF;
    border: none;
    color: #fff;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
		border-radius: 5px;
		border: 2px solid #00A5CF;
}

.blue_button:hover {
		background-color: #fff;
    color: #00A5CF;
}

/* ------------------------------------------------------------
   Forms
-------------------------------------------------------------*/

.standard_input {
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 6px 12px;
	width: 230px;
	outline-color: #9FFFCB;
	margin: 4px 2px;
}

.select_form {
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 4px 10px;
	outline-color: #9FFFCB;
}

/*Checkbox style*/
.checkbox {
	width: 15px;
	position: relative;
}
.checkbox label {
	cursor: pointer;
	position: absolute;
	width: 18px;
	height: 18px;
	top: 0;
  left: 0;
	background: #fff;
	border:1px solid #ccc;
}

.checkbox label:after {
	opacity: 0.0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 3px solid #25a18e;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

/*Toggle switch style*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {display:none;}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
	border-radius: 34px;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
	border-radius: 50%;
}

.switch input:checked + .toggle {
  background-color: #25a18e;
}

.switch input:checked + .toggle:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* ------------------------------------------------------------
   Overall layout
-------------------------------------------------------------*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0 auto;
	max-width: 100%;
}

main section {
	max-width: 100%;
	padding-left: 80px;
	padding-right: 80px;
	margin: 0 auto;
}

main section>p {
	max-width: 600px;
	margin: 0 auto 10px;
}

/* ------------------------------------------------------------
   Navigation
-------------------------------------------------------------*/

nav {
	background-color: #fff;
	width: 100%;

}

nav ul {
	float: right;
	margin-right: 80px;
	margin-top: 30px;
}

nav li {
	padding-right: 20px;
}

nav a {
	text-decoration: none;
	color: #424242;
}

nav a:hover {
	color: #25a18e;
}

header {
	height: 75px;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .1);
	position: fixed;
	z-index: 3;
	width: 100%;
	background-color: #fff;
	top: 0;
}

header li {
	display: inline-flex;
	list-style-type: none;
}

.vertical_line {
	border-left: 1px solid #d2d2d2;
	height: 20px;
	display: inline-flex;
	padding-right: 20px;
	top: 5px;
}

#logo {
	margin-left: 80px;
	margin-top: 30px;
}

#title {
	margin-top: 20px;
	margin-left: 30px;
	font-family: 'Source Sans Pro', sans-serif;
}

#fb_icon {
	padding-right: 20px;
}

#login_icon {
	padding-right: 20px;
}

/* ------------------------------------------------------------
   Hero
-------------------------------------------------------------*/

#hero {
	background: url(img/vroegum-kulturhus-gamle-skole_01.jpg) center center;
	background-size: cover;
	height: 470px;
	margin-top: 75px;
	text-align: center;
	padding: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#hero * {
	z-index: 2;
}

#hero h1, #hero p {
	color: #fff;
}

#hero p {
	font-size: 22px;
}

#hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(37,161,142, 0.65);
}

/* ------------------------------------------------------------
   Arrangementer
-------------------------------------------------------------*/

#arrangementer {
	background-color: #fff;
	min-height: 540px;
	color: #1e1e1e;
}

.center_button {
	text-align: center;
	padding-bottom: 30px;
}

.event {
	min-height: 300px;
	background-color: grey; /*midlertidig*/
}
/* ------------------------------------------------------------
   Medlemsskab/Nyhedsbrev
-------------------------------------------------------------*/

#medlemsskab_nyhedsbrev {
	background-color: #25a18e;
	min-height: 540px;
}

#medlemsskab {
	width: 580px;
	height: 450px;
	background-color: #fff; /*midlertidig*/
	margin-top: 40px;
	color: #1e1e1e;
}

#nyhedsbrev {
	width: 580px;
	height: 450px;
	color: #fff;
}

#medlemsskab_nyhedsbrev {
	text-align: center;

}

/* ------------------------------------------------------------
   Footer
-------------------------------------------------------------*/

footer {
	background-color: #9fffcb;
	min-height: 320px;
}

/* ------------------------------------------------------------
   Flexboxes
-------------------------------------------------------------*/

.flex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-width: 100%;
}

.flex>div {
	margin: 40px 40px 60px 0px;
	flex-grow: 1;
	flex-basis: 20%;
}

.flex>div:last-child {
	margin-right: 0px;
}

footer.flex>div {
	min-height: 250px;
	padding: 0px;
}

/* ------------------------------------------------------------
   Styleguide Specific
-------------------------------------------------------------*/

#styleguide main section {
	max-width: 100%;
	width: 1366px;
	padding: 40px 80px;
	min-height: 450px;
}

/*#styleguide section:nth-child(2n+0) {
	background: rgba(0,165,207, 0.10);
}*/

.code {
	border-radius: 4px;
	border: 1px solid #00A5CF;
	background: #fff;
	padding: 40px 10px 10px 10px;
	margin: 20px 0px 20px;
	color: #555;
	position: relative;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	max-height: 200px;
	overflow-y: auto;
}

.code::before, .css::before {
	content: "HTML";
	position: absolute;
	top: 10px;
	color: #00A5CF;
	font-family: 'Source Sans Pro', sans-serif;
}

.css {
	border: 1px solid #C490D1;
}

.css::before {
	content: "CSS";
	color: #C490D1;
}

.no-min-height {
	min-height: auto !important;
}

/* ------------------------------------------------------------
   Responsive / Small screen
-------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
	.flex {
		flex-wrap: wrap;
	}

	.flex>div, .flex>div:last-child {
		margin: 0px 0px 40px 0px;
		min-width: 100%;
	}

	#title {
		display: none;
	}
}
